@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #155e75; 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #06b6d4; 
}

/* Marquee Animation for Ticker */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes scan {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}


